.admin{
  background-color: rgb(148, 214, 25);
  padding:20px;
  min-height: 100px;
}

.user{
  background-color: aquamarine;
  padding:20px;
  min-height: 100px;
}

.todos{
  background-color: rgb(63, 252, 46);
  padding:20px;
  min-height: 100px;
}

.row{
  margin-bottom: 20px;
}
